/**
 * Variables
 */
$color__light_blue: #CAE4F2;
$color__dark_blue: #2A6FB0; /* 42, 111, 176 */
$color__dark_blue_alpha: rgba(42,111,176,0.3);
$color__dark_blue_dark_alpha: rgba(42,111,176,0.8);
$color__light_green: #65C0A5;
$color__dark_green: #0B8972; /* #35a66f
*/
$color__dark_green_alpha: #6DB8AA;
$color__light_red: #F17259;
$color__light_red_alpha: #F38E7A;
$color__dark_red: #9D1313;

$font_stack__body: 'Nunito', 'Quicksand', 'Valero Round', sans-serif;
$font_stack__headings: 'Sonsie One', cursive;

$section_height: 100vh;
$section_width: calc( 100vw + 17px );
$post_width: 600px;

* {
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 16px;
  background: $color__light_blue;
  font-family: $font_stack__body;
  font-weight: 100;
  letter-spacing: -0.2px;
  line-height: 1.6;
}
h1, h2, h3, h4, h5, h6 {
  font-family: $font_stack__headings;
}

/**
 * Countdown Clock
 */
.countdown-clock {
  width: 560px;
  height: 120px;
  position: absolute;
  top: 120px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: $color__dark_blue;
  opacity: 0.3;
  border-top: 2px solid $color__dark_blue;
  border-bottom: 2px solid $color__dark_blue;
}
.pie {
  fill: transparent;
  stroke: white;
  stroke-width: 100;
  stroke-dasharray: 0 100;
  transition: stroke-dasharray .3s ease;
}
.pie-plate {
  position: absolute;
  top: -8px;
  left: -20px;
  z-index: -1; 
  background: transparent;
  border-radius: 50%;
  display: block;
  transform: rotate(-90deg);
}

#countdown {
  list-style: none;
  margin-bottom: 1em;
}
#countdown li {
  display: inline-block;
  margin: 1em 2em;
  position: relative;
}
#countdown .number {
  font-size: 3em;
  margin: 10px 0 0;
  padding: 0;
  line-height: 1;
}
#countdown .label {
  margin-top: -5px;
}